/* Resetando margens e padding do body e html */
html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Garante que a altura da página ocupe toda a tela */
    width: 100%; /* Garante que a largura da página ocupe toda a tela */
    overflow-x: hidden; /* Impede rolagem horizontal */
    background-image: url('../img/body_bg.png');
    padding-top: 10px;
}

header {
    background-image: url('../img/header_bg.png');
    background-size: cover;
    padding: 10px 20px;  /* Ajuste no padding para reduzir o tamanho */
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 30px; /* Reduzi o espaçamento */
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    font-size: 14px; /* Reduzi um pouco o tamanho da fonte */
}

.arrow {
    font-size: 0.8em;
    margin-left: 5px;
}

nav a:hover .arrow {
    transform: rotate(180deg);
    transition: transform 0.3s;
}

nav a:hover {
    text-decoration: underline;
}


footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 0.9em;
}



.banner {
    position: relative;
    display: flex;
    justify-content: center;
}

.banner img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
}

.button-overlay {
    position: absolute;
    bottom: 50px; /* Ajuste conforme necessário */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-overlay img {
    width: 300px; /* Ajuste o tamanho conforme necessário */
    height: auto;
    position: relative;
}

.button-text {
    font-family: "Prociono", serif;
    font-size: 2em;
    color: rgb(255, 255, 255);
    margin-bottom: -35px;
    text-align: center;
    position: absolute;
    z-index: 1;
    font-weight: bolder;
    vertical-align: bottom;
}


.welcome-text {
    padding: 20px;
    text-align: justify;
    font-family: 'Work Sans', sans-serif;
}

.welcome-text h1 {
    font-family: 'IM FELL DW Pica', serif;
    text-align: center;
}



.text-image {
    position: relative;
    margin-top: 0px;
    width: 100%;
    max-width: 100%;
    overflow: hidden; /* Previne o texto de sair da imagem */
}

.text-image .image-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('../img/imagem_texto.png');
}

.video-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.text-image img {
    width: 100%;
    height: auto;
    display: block;
}

.text-image .text-content {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: justify;
    width: 65%;  /* Ajusta a largura do texto para se adaptar melhor à imagem */
    color: white;
    max-height: 80%;  /* Limita a altura do texto */
}

.text-content h1 {
    font-family: 'IM Fell DW Pica', serif;
    font-size: 4em;
    text-align: center;
    margin-bottom: 10px;
}

.text-content p {
    font-family: 'Work Sans', sans-serif;
    font-size: 2em;
    line-height: 1.5;
}





/* Sessões 2 a 13 - Contêiner de cada sessão */
.background-image {
    width: 100%;
    height: 700px; /* Defina a altura das sessões conforme necessário */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-container {
    width: 100%;
    margin-top: 20px;
}

.left-image-container {
    width: 45%; /* A imagem à esquerda ocupa 45% da largura */
    height: 100%;
    padding-left: 20px; /* Distância da borda esquerda do navegador */
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-image-container img {
    width: 100%; /* ajuste a largura da imagem dentro do contêiner */
    height: auto;
    object-fit: cover;
    border-radius: 20px; /* Bordas arredondadas na imagem */
}

.left-image-container2 {
    width: 50%; /* A imagem à esquerda ocupa 45% da largura */
    height: 100%;
    padding-left: 20px; /* Distância da borda esquerda do navegador */
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-image-container2 img {
    width: 65%; /* Ajuste a largura da imagem dentro do contêiner */
    height: auto;
    object-fit: cover;
    border-radius: 20px; /* Bordas arredondadas na imagem */
}

.left-image-container3 {
    width: 45%; /* A imagem à esquerda ocupa 45% da largura */
    height: 100%;
    padding-left: 20px; /* Distância da borda esquerda do navegador */
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-image-container3 img {
    width: 90%; /* Ajuste a largura da imagem dentro do contêiner */
    height: auto;
    object-fit: cover;
    border-radius: 20px; /* Bordas arredondadas na imagem */
}

.right-side {
    width: 60%; /* O texto ocupa 50% da largura */

    padding: 50px;
    align-items: center; /* Centraliza verticalmente */
    height: 100%; /* Ajuste conforme o tamanho do contêiner */
}

.section-title {
    font-family: 'IM Fell DW Pica', serif;
    font-size: 2em;
    color: white;
    margin-bottom: 10px;
    text-align: center;
}

.section-text {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.1em;
    color: white;
    line-height: 1.6;
    text-align: justify;
    height: 100%;
    overflow: hidden;
}



.rulesText {
    position: relative;
    margin: 0 auto; /* Centraliza horizontalmente */
    top: 50px; /* Ajuste conforme necessário para iniciar abaixo de outros conteúdos */
    padding: 20px;
    max-width: 60%; /* Ajuste conforme necessário */
    background-color: rgba(0, 0, 0, 0.8); /* Fundo escuro translúcido */
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    font-family: 'Work Sans', sans-serif;
}

.rulesText li{
    padding: 20px;
    text-align: justify;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.5em;
}

.rulesText h1 {
    font-family: 'IM FELL DW Pica', serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
}




.thelassia-text {
    padding: 20px;
    text-align: justify;
    font-family: 'Work Sans', sans-serif;
    color: rgb(255, 255, 255);
    position: relative;
    margin: 0 auto; 
    top: 50px;  
    background-color: rgba(0, 0, 0, 0.8); 
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    max-width: 70%;
}

#thelassia-center-text {
    padding: 20px;
    font-family: 'Work Sans', sans-serif;
    color: white;
    position: relative;
    margin: 0 auto; /* Centraliza horizontalmente */
    border-radius: 10px;
    text-align: center;
    max-width: 70%;
    line-height: 1.8;
    font-size: 1.5em;
}

#thelassia-normal-text {
    padding: 20px;
    font-family: 'Work Sans', sans-serif;
    color: white;
    position: relative;
    margin: 0 auto; /* Centraliza horizontalmente */
    border-radius: 10px;
    text-align: justify;
    max-width: 70%;
    line-height: 1.8;
    font-size: 1.5em;
}

.thelassia-text h1 {
    font-family: 'IM FELL DW Pica', serif;
    text-align: center;
    color: white;
    font-size: 4em;
}

.thelassia-text h2 {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    color: white;
    font-size: 3em;
}

.thelassia-text h3 {
    font-family: 'Work Sans', sans-serif;
    color: white;
    font-size: 1.5em;
}

#thelassia-border {
    width: 100%; /* Ajuste a largura da imagem dentro do contêiner */
    height: auto;
    object-fit: cover;
}

#thelassia-img {
    width: 70%; /* Ajuste a largura da imagem dentro do contêiner */
    height: auto;
    object-fit: cover;
    border-radius: 20px; /* Bordas arredondadas na imagem */
    display: block;
    margin: 0 auto;
}




.thelassia-text {
    padding: 20px;
    text-align: justify;
    font-family: 'Work Sans', sans-serif;
    color: rgb(255, 255, 255);
    position: relative;
    margin: 0 auto; 
    top: 50px;  
    background-color: rgba(0, 0, 0, 0.8); 
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    max-width: 70%;
}



.historia-text p {
    padding: 20px;
    font-family: 'Work Sans', sans-serif;
    color: white;
    position: relative;
    margin: 0 auto; /* Centraliza horizontalmente */
    border-radius: 10px;
    text-align: justify;
    max-width: 70%;
    line-height: 1.8;
    font-size: 1.5em;
}

.historia-text h1 {
    font-family: 'IM FELL DW Pica', serif;
    text-align: center;
    color: white;
    font-size: 4em;
    text-transform: uppercase;
}

.historia-text h2 {
    font-family: 'IM FELL DW Pica', serif;
    text-align: center;
    color: white;
    font-size: 1.5em;
    text-transform: uppercase;
}


#divider {
    width: 100%; 
    height: auto;
    object-fit: cover;
    margin: 0 auto; 
    display: block;
}

#divider2 {
    width: 30%; 
    height: auto;
    object-fit: cover;
    margin: 0 auto; 
    display: block;

}

#historia-img {
    width: 70%; /* Ajuste a largura da imagem dentro do contêiner */
    height: auto;
    object-fit: cover;
    border-radius: 20px; /* Bordas arredondadas na imagem */
    display: block;
    margin: 0 auto;
}




.nilfheim p {
    padding: 20px;
    font-family: 'Work Sans', sans-serif;
    color: white;
    position: relative;
    margin: 0 auto; /* Centraliza horizontalmente */
    border-radius: 10px;
    text-align: justify;
    max-width: 70%;
    line-height: 1.8;
    font-size: 1.5em;
}

.nilfheim h1 {
    font-family: 'IM FELL DW Pica', serif;
    text-align: center;
    color: white;
    font-size: 4em;
    text-transform: uppercase;
}

.nilfheim h2 {
    font-family: 'IM FELL DW Pica', serif;
    text-align: center;
    color: white;
    font-size: 1.5em;
    text-transform: uppercase;
}

.nilfheim img {
    width: 70%; /* Ajuste a largura da imagem dentro do contêiner */
    height: auto;
    object-fit: cover;
    border-radius: 20px; /* Bordas arredondadas na imagem */
    display: block;
    margin: 0 auto;
}




.youtube-conteiner {
    position: relative;
    width: 80%; /* Ajuste a largura conforme necessário */
    max-width: 800px; /* Limite máximo da largura */
    margin: 0 auto; /* Centraliza o contêiner */
}

.youtube-conteiner iframe {
    width: 100%; /* O vídeo vai preencher a largura do contêiner */
    height: auto; /* A altura será ajustada automaticamente para manter a proporção */
    aspect-ratio: 16 / 9; /* Mantém a proporção de 16:9 (padrão do YouTube) */
}

