<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Eclipse Rebirth{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/icon.png') }}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica:ital@0;1&family=Prociono&family=Uncial+Antiqua&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('inicio') }}">INICIO <span class="arrow">˅</span></a></li>
                <li><a href="{{ url_for('racas') }}">RAÇAS <span class="arrow">˅</span></a></li>
                <li><a href="{{ url_for('classes') }}">CLASSES <span class="arrow">˅</span></a></li>
                <li><a href="{{ url_for('profissoes') }}">PROFISSÕES <span class="arrow">˅</span></a></li>
                <li><a href="{{ url_for('regras') }}">REGRAS <span class="arrow">˅</span></a></li>
                <li><a href="{{ url_for('thelassia') }}">THELASSIA <span class="arrow">˅</span></a></li>
                <li><a href="{{ url_for('nilfheim') }}">NILFHEIM <span class="arrow">˅</span></a></li>
                <li><a href="{{ url_for('historia') }}">HISTÓRIA <span class="arrow">˅</span></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <br><br><br><br>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>TODOS OS DIREITOS RESERVADOS © 2025 - ECLIPSE ROLEPLAY.</p>
    </footer>
</body>
</html>
