<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Meu Projeto{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('inicio') }}">INICIO</a></li>
                <li><a href="{{ url_for('racas') }}">RAÇAS</a></li>
                <li><a href="{{ url_for('classes') }}">CLASSES</a></li>
                <li><a href="{{ url_for('profissoes') }}">PROFISSÕES</a></li>
                <li><a href="{{ url_for('regras') }}">REGRAS</a></li>
                <li><a href="{{ url_for('thelassia') }}">THELASSIA</a></li>
                <li><a href="{{ url_for('historia') }}">HISTÓRIA</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
