{% extends "base.html" %}
{% block title %}Início - Eclipse Roleplay{% endblock %}
{% block content %}
<section class="banner">
    <div class="video-container">
        <video autoplay muted loop style="width: 100%; height: auto;">
            <source src="{{ url_for('static', filename='img/trailer.mp4') }}" type="video/mp4">
            Seu navegador não suporta o elemento de vídeo.
          </video>
        <a href="https://discord.gg/eclipseconanrp" target="_blank">
            <div class="button-overlay">
                <div class="button-text">-DISCORD-</div>
                <img src="{{ url_for('static', filename='img/botao_losango.png') }}" alt="Botão para Discord">
            </div>
        </a>
    </div>
</section>

        <div class="nilfheim">
            <h1>BEM VINDO AO ECLIPSE!</h1>
            <p>
                O Renascimento do Eclipse RP: Bem-vindo ao Eclipse Rebirth! É com grande orgulho que anunciamos o retorno triunfante do Eclipse RP, agora renomeado como Eclipse Rebirth! Após meses de aprendizado, estudo e dedicação incansável desde 2023, preparamos uma experiência única e revolucionária para o mundo do Conan Exiles RP na Unreal Engine 4.15.
            </p>
            <div class="youtube-conteiner">
                <iframe id="youtube" width="560" height="315" src="https://www.youtube.com/embed/TieqHGfRHQg?si=H49PZukUoFV4BpXb" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <p>
                Profissionalismo e Harmonia Um servidor livre de qualquer atrito entre players e staff, com uma equipe profissional, comprometida e sempre focada em melhorias contínuas. Criado com amor, cuidado e atenção aos mínimos detalhes, preparado com paixão, temperado com criatividade e servido com sabor incomparável!
            </p>
            <p>
                Inovações nunca vistas antes Abrace um novo mundo totalmente reformulado, com: Mapas inéditos e ambientes ricos em texturas, céus, águas, rochas, folhagens e assets impressionantes. Iluminação e reflexos aprimorados, elevando os gráficos do Conan Exiles a um novo patamar de realismo e beleza.
            </p>
            <p>
                Locução Profissional de Alto Nível A imersão será completa com mais de 50 missões dubladas, entre principais, secundárias e diárias. Para dar vida a esse universo incrível, reunimos grandes nomes da dublagem brasileira, como:  <b><br><br>• Miriam Ficher (Ahri League Of Legends ) <br>• Ricardo Juarez (Kratos God Of War) <br>• Fábio Lucindo (Ezreal League Of Legends ) <br>• Marisa Leal (Morgana League Of Legends )  <br>...E muitos outros talentos renomados na dublagem!</b><br><br>
            </p>
            <p>
                Mecânicas de RPG Feitas do Zero O servidor conta com sistemas de RPG totalmente estruturados no TOT, incluindo: <b><br><br>• Bosses Mundiais <br>• Sistemas de Recompensas <br>• Bases Estratégicas <br>• Missões Envolventes <br>• Passes de Batalha gratuito <br>• Sistema de Loja VIP gratuita <br>• Eventos diários em diferentes horários.</b><br><br>
            </p>
            <p>
                Uma Lore Rica e Profunda Adentre o continente de Valáquia, um universo repleto de histórias bem amarradas e coesas. Com uma lore extensa de mais de 60 páginas, cada detalhe foi cuidadosamente pensado para enriquecer este mudo. Tanto através de missões quanto locuções, você será guiado por uma narrativa cativante.
            </p>  
        </div>
    </div>
{% endblock %}
