{% extends "base.html" %}

{% block content %}
    <!-- Sessão 1: Discord (semelhante à página de início) -->
    <section class="banner">
        <div class="image-container">
            <img src="{{ url_for('static', filename='img/nilfheim/Img_Central_Eclipse_Nilfheim.png') }}" alt="Imagem Inicial">
            <a href="https://discord.gg/eclipseconanrp" target="_blank">
                <div class="button-overlay">
                    <div class="button-text">DISCORD</div>
                    <img src="{{ url_for('static', filename='img/botao_losango.png') }}" alt="Botão para Discord">
                </div>
            </a>
        </div>
    </section>
    <div class="nilfheim">

        <h1>PROLOGO NILFHEIN</h1> 
        
        <p> Nilfheim é um Reino impérial poderoso com uma reputação temível, fundado em 1499. É mal visto por muitos como uma ameaça brutal a valáquia e expansionista pelos estrangeiros, mas, por trás do exterior bélico, há uma sociedade surpreendentemente inclusiva que respeita e encoraja os talentos e as aptidões de cada indivíduo em seu melhor espirito.
        
        Os Nilfheim é uma mistura de várias facções, reinos, estrangeiros e tribos barbaras, até o momento em que invadiram a cidades antigas que, hoje em dia, fica no coração de seu domínio. Mesmo sob ameaças vindas de todos os lados após as guerras rúnicas etheriais, eles avançaram contra seus inimigos sem temor, expandindo o território ano a ano. A luta pela sobrevivência definiu o caráter dos Nilfhanos modernos, um povo orgulhoso que valoriza a força acima de tudo — mas que sabe reconhecer que ela se manifesta de diversas formas, desde arte, força, inteligência e disciplina.
        
        Qualquer um pode conquistar uma posição de poder e respeito dentro de Nilfheim se demonstrar a aptidão necessária, independentemente de classe social, antecedentes ou riquezas. Os indivíduos que sabem usar magia são muito respeitados, e costumam ser recrutados para que seus talentos especiais sejam aprimorados e postos a serviço do império.
        
        A arte está presente em qualquer lugar, por mais rígído que Nilfheim tenha se tornado, este Reino Imperial fundamentado na força, com ênfase na representação Solar. Embora muitos percebam o império como sendo rigoroso, ele é delineado por uma linhagem que evoca o contraste entre Umbra e Fjord. Já Fjord, um antigo reino viking, com raízes sanguíneas, contribui para a rica história e identidade de Nilfheim. Embora, a arte e a forma empática encorajando seus habitantes, seria mais provindo de Sinthra. Percebemos que no final, mesticidade é algo recorrente em valáquia, desde os primórdios do Eclipse...</p>
        
         
        
        
        <img src="static/img/nilfheim/Img_Central_Prologo.png">
        
         <br>  <br> 
        
         
        <h1>CONTOS DE NIFLHEIM</h1> 
        
        <b> <h2> A Arte Imortal - Por Amalia</h2> </b>
        
        <p> Hoje é um dia tranquilo, hoje é um dia frio. Esta carta selada, com o símbolo do império, deixa-me assustada. Passei o dia pensando em como poderia realizar este trabalho, retratar alguém importante. Mas por que ele? Quase ninguém o vê, é tão misterioso..." - Pensou Amália, em profundos pensamentos.
        
        "Será que você vai conseguir vê-lo e falar com ele?" - perguntou Celine. 
        Amália ignorou abrindo as janelas do estúdio para ouvir os ecos das ruas noturnas de Nilfheim. Mas, a ideia de sair a noite deixava Amalia animada e aterrorizada ao mesmo tempo. 
        
        "Ele vai posar para um retrato, então acredito que sim", - respondeu Amalia, apontando para o céu escuro. "Teremos que discutir o estilo que ele quer, principalmente porque não terei luz natural do sol Radiante de Nilfheim." - Terminou a mesma. 
        
        "Como será a voz dele?",  - Perguntou Celine...
        
        "Como a voz de uma qualquer um", - retrucou Otavio, virando para o lado e amassando seu travesseiro. 
        "Vocês sabem que ele não é deus, né? É só um homem com dinheiro. Agora dá pra vocês calarem a boca? Estou tentando dormir."
        
        Celine foi em direção de Amália e lhe deu um beijo. "Boa sorte", disse ela sorrindo. "Volte para nos contar... tudo, mesmo que seja sórdido."
        
        Amália hesitou ao sorrir, mas concordou. "Sim, eu vou. Eu prometo..."
        
        As instruções para chegar à mansão do seu novo patrão eram extraordinariamente específicas. Não apenas em relação ao destino final, mas também ao trajeto a ser seguido para alcançá-lo. Amalia estava familiarizada com a geografia da capital Nilfheimiana, tendo vagado pelas ruas por dias quando a fome castigava seu estômago. Ou quando não conseguiam angariar dinheiro suficiente com um trabalho, e o proprietário do estúdio os expulsava até que tivessem a quantia devida...
        
        Ela conhecia este canto da cidade de Nilfheim, porém, era um mistério para ela. Ela sabia que a mansão ficava aqui, é claro — todos em Nilfheim sabiam onde ele morava, mas poucos haviam ido até lá. A cada passo, Amália sentia como se estivesse entrando em uma cidade desconhecida, de uma terra recém-conquistada. As ruas eram estranhas e cada vez mais estreitas e ameaçadoras, como se a cada esquina os muros ficassem mais próximos uns dos outros, até que uma hora a esmagariam. Ela seguiu por aquela quietude agoniante, ansiando por algum sinal de luz; talvez um lampião ou uma vela repousando em alguma janela, colocada ali para guiar um pretendente proibido. A grande mansão havia sido construída em uma pedra clara que ela não reconhecia; imponente sem ser monolítica, como muitas das grandes estruturas de Nilfheim.
        
        Amália tentava reconhecer o estilo arquitetônico do local, mas a variedade de movimentos ao longo dos séculos a confundia. Caminhando por um jardim requintado, ela se maravilhava com a exuberância e a riqueza indicadas pela praça de entrada. Borboletas coloridas voavam entre flores exóticas, enquanto Amália se deleitava com os aromas. Encantada, ela colheu pétalas de uma flor vermelha intensa, sem notar a reação da planta. Diante da porta aberta da mansão, hesitou, questionando se era uma armadilha. Apesar do medo, decidiu entrar, atravessando o átrio revestido de madeira escura. Murais desbotados e galerias sombrias davam um ar misterioso ao lugar. Uma escadaria em espiral conduzia a um mezanino, onde uma tela coberta despertava a curiosidade de Amália, que torcia para não ter que pintar ali, onde a luz era escassa e se recusava a se aproximar...</p>
        
        
        
        
        
        <img src="static/img/nilfheim/Img_Central_A_Arte_Imortal.jpg">
        
        
         <br>  <br> 
        
        
        <b> <h2> Vermelho , Preto Solar I </h2> </b>
        
        
        <p> "Olá? "Recebi sua uma carta…"
        
        As palavras não saíam, e Amália buscava algum sinal de que não estava completamente só naquela casa estranha no meio da noite.
        
        "Olá?", repetiu ela. "Tem alguém aí?"
        
        "Eu estou bem aqui", Ecoo uma voz.
        
        Amália deu um salto. As palavras soavam formais, masculinas e com uma certa idade. Era como se tivessem vindo de algum lugar elevado para serem sussurradas bem ao seu ouvido. Ela se virou imediatamente, procurando a direção da voz.
        
        "Você, então é o Alucard?", perguntou ela.
        
        "Sou", respondeu ele com uma voz carregada de profunda melancolia, como se seu próprio nome fosse fonte de tormento. "E você é a pintora."
        
        "Sim. Sou eu. Eu sou a pintora da carta", disse ela, acrescentando, "Meu nome é Amália Zatman. Eu sou a pintora."
        
        Ela se repreendeu pela falta de jeito ao perceber que as últimas palavras dele não tinham sido uma pergunta.
        
        "Ótimo. Faz tempo que espero por você."
        
        "Ah. Perdão, senhor. A carta dizia para que eu só viesse quando o sino da Igreja tocasse."
        
        “Sim, é verdade, e você chegou exatamente quando deveria", disse Alucard, e desta vez Amália pensou ter visto um preto ainda mais profundo entre o escuro. "A culpa, na verdade, é minha, pois eu já devia ter chamado alguém como você há muito tempo. A vaidade nos faz agir como tolos, não é mesmo Amália?
        
        "Seria mesmo a vaidade?", perguntou Amália, sabendo que os patrões mais abastados adoravam ser bajulados. "Ou simplesmente o desejo de esperar o melhor momento para capturar sua verdadeira aparência?" 
        
        Uma gargalhada ecoou lá de cima. Amália não sabia se tinha dito algo engraçado ou se ele estava rindo dela.
        
        "Sempre me  algo parecido", disse Alucard. "E para falar a verdade, ela muda a todo momento. E então, gostou do meu jardim?"
        
        Amália suspeitou que fosse uma armadilha e hesitou ao responder.
        
        "Gostei sim, muito bonito", disse ela. "Eu não sabia que era possível cultivar coisas tão lindas em solo nilfheimiano."
        
        "E não é mesmo?", disse Alucard em tom irônico. "Este solo fino alimenta apenas os espécimes mais resistentes, que se espalham por toda parte para expulsar todos os outros. Mas nenhum deles é bonito. A flor vermelha que você matou era uma flor noturna."
        
        Amália ficou com a boca seca, mas Alucard parecia não se importar com o que ela tinha feito.
        
        "As flores noturnas eram nativas de um arquipélago ao leste, um lugar sagrado de rara beleza e esclarecimento", disse ele. "Morei lá por um tempo, antes do lugar ser destruído, como sempre é o destino de todas as realizações dos mortais. Peguei umas sementes em um bosque cultivado por um temperamental espírito da natureza e as trouxe para Nilfheim, onde consegui fazê-las crescer com uma mistura de sangue e lágrimas. Mas já ouvi boatos que flores da Lua também são cultivadas assim" - Terminou ele.
         
        "Você não quer dizer Suor, sangue e lágrimas?"
        
        "Minha cara... Como o suor pode ajudar uma linda flor destas crescer?"
        
        Amália não sabia a resposta, mas o ritmo cadenciado da voz dele era muito sedutor. Ela poderia passar a noite toda o ouvindo falar. Amália parou de pensar na voz aveludada de Alucard e olhou para a tela coberta com o lençol.
        
        "E então, é  aqui que eu devo pintar?", perguntou ela.
        
        "Não", disse Alucard!  "Essa foi apenas minha primeira."
        
        "Sua primeira o quê?"
        
        "Minha primeira vida", disse ele levantando  levemente a ponta do lençol.</p>
        
         
        
        
        <img src="static/img/nilfheim/Img_Central_Vermelho_Solar_Parte_I.jpg">
        
        
         <br>  <br> 
        
        
        <b> <h2> Vermelho , Preto Solar II</h2> </b>
        
        
        <p> A pintura, desbotada pelo tempo, mostrava um jovem de armadura dourada, segurando uma bandeira com a imagem de uma águia chamada Ícarus. Os detalhes haviam desaparecido, mas os olhos azuis do rapaz eram reluzentes. Um exército animalesco estava ao fundo, indistinto pela ação do tempo.
        
        "É você?" perguntou Amália, esperando explicações diretas do rapaz.
        
        "Sim, sou eu, há muito, muito tempo", respondeu Alucard, descrevendo sua história como herdeiro do reino de Sinthra. Ele se tornou um peão em uma guerra entre homens, sendo oferecido como refém antes das guerras rúnicas para um Mestre. Mas seu pai quebrou o juramento de lealdade, E Alucard não foi morto. Em vez disso, recebeu a oportunidade de liderar exércitos contra seu próprio povo, destruindo a cidade de Sinthra de seu pai, O Faraó.
        
        "Você matou seu próprio povo? Por quê?" perguntou Amália.
        
        "Porque, mesmo sem as guerras rúnicas, o Reino de meu pai nunca seria meu", explicou Alucard. Eu vi a oferta de meu mestre como uma chance de poder que não teria de outra forma.
        
        "Por que seu mestre fez você fazer isso?" indagou Amália.
        
        Alucard respondeu com uma mistura de frieza e desencanto, sugerindo que seu mestre via os mortais como meros entretenimentos. Amália, observando a pintura, notou uma sombra nos olhos do rapaz, revelando sua verdadeira crueldade ou amargura reprimida.
        
        "O que ele lhe ensinou?" perguntou Amália, sentindo a necessidade de compreender mais, mesmo que incerta sobre querer as respostas. 
        
        "A raça do meu mestre tinha o poder de desafiar a morte, de esculpir pele, sangue e osso nas formas mais maravilhosas", continuou Alucard. "Ele me ensinou um pouco dessa arte, uma magia que para ele era tão natural quanto respirar. Mas para aprender até os mais simples artifícios, eu tinha que dedicar todo o meu intelecto e força de vontade. Só mais tarde descobri que ensinar esses segredos aos mortais era proibido sob pena de morte, mas meu mestre adorava exibir os costumes de sua espécie." 
        
        " Onde está seu mestre agora?'' - Perguntou Amália.
        
        " "Está morto, eu mesmo o matei. Ele era tão ruim quanto meu pai, sempre atrasando o progresso de Nilfheim. Um peso morto que o império não tem mais."
        
        Mas chega dessa pintura", disse Alucard. "Ela é vital, é claro, mas é apenas uma das minhas muitas vidas. Para imortalizar esta , você deve conhecer as outras que já vivi ao longo dos anos antes que possamos começar."
        
        Amália virou-se para as escadas e as sombras que a cobriam recuaram como uma maré escura e tranquila. Ela molhou os lábios, ciente mais uma vez de que estava sozinha nesta mansão ecoante com Alucard, um homem que acabara de admitir ter matado o próprio pai e seu monstruoso mentor.</p> 
        
        
        
         <br>  <br> 
        
        
        
        
         <h2> Hesitande , Vermelho , Preto Sangue...</h2> 
        
        
        <p> "Você está hesitante? É sério?", disse ele. "Você já chegou até aqui. E eu já revelei tanto da minha alma para você." 
        
        Amália percebeu que ele a estava incentivando a subir as escadas. Isso já deveria ser suficiente para fazê-la fugir e voltar para os seus amigos. Mas por mais que soubesse que deveria ter medo, parte dela estava gostando de ser o centro das atenções de Alucard, de sentir o poder de seu olhar sobre ela.
        
        "Venha até mim", continuou ele. "Venha ver o que quero de você. E depois, se achar que não conseguirá realizar a tarefa e quiser ir embora, não tentarei impedir."
        
        "Não", disse ela. "Quero saber de tudo."
        
        No alto do mezanino, a passagem conduzia a um amplo corredor de pedra escura, cujo frio intenso fez com que Amália perdesse o fôlego. Atravessando as paredes sombrias, alinhavam-se inúmeras tábuas de madeira laqueadas.
        
        Fixadas nessas tábuas, milhares de borboletas desdobravam suas asas.
        
        Um sentimento de melancolia envolveu Amália. "O que é tudo isso?"
        
        "Uma das minhas coleções", respondeu Alucard, sua voz ecoando de todos os cantos e nenhum lugar ao mesmo tempo. Amália continuou pelo corredor.
        
        "Por que você as matou?"
        
        "Para estudá-las. Qual outro propósito eu teria? Estas criaturas têm vidas tão efêmeras. Interrompê-las um pouco mais cedo não faz tanta diferença."
        
        "Penso que as borboletas discordariam disto..."
        
        "Contudo, observe o que cada morte me ensinou."
        
        "Como assim?"
        
        "As borboletas que você viu no jardim. Elas não existem em nenhum outro lugar. São únicas porque eu as criei. Com determinação e conhecimento, eu concedi vida a várias espécies."
        
        "Isso é possível?"
        
        "Porque, assim como os deuses, eu decido quem vive ou morre."
        
        Amália estendeu a mão em direção à borboleta mais próxima, uma com círculos vermelhos nas asas mais largas. Ao tocar o inseto, as asas se desintegraram e o corpo se esfacelou como tinta envelhecida.
        
        Um vento gélido passou por Amália, que recuou assustada quando todas as criaturas presas começaram a desaparecer. Dezenas, e depois centenas de borboletas, transformaram-se em pó que dançava pelo ar, assemelhando-se às cinzas de um incêndio. Ela gritou e correu pelo corredor, tentando afastar a poeira do rosto com as mãos. A poeira penetrou em suas roupas, e ela cuspiu ao sentir a umidade dos corpos dos insetos em sua boca e ouvidos... 
        
        "Por que eu?" indagou ela. "Por que estou aqui? Certamente há outros artistas mais talentosos do que eu em Nilfheim."</p>
        
        
         
        
        <img src="static/img/nilfheim/Img_Central_Vermelho_Solar_Parte_II.jpg">
        
         <br>  <br> 
        
        
        <b> <h2> Vermelho , Preto Solar III</h2> </b>
        
        
        <p> Uma risada suave envolveu a cena.
        
        "Tamanha modéstia. É fato, há artistas com habilidades técnicas superiores às suas", comentou Alucard. "Seu colega invejoso, Otávio, por exemplo, possui um entendimento muito mais profundo de perspectiva do que você. A forma como a jovem Celine maneja as cores é extraordinária, e a meticulosidade pragmática de Zukko torna seus trabalhos fascinantes. Konrrad, por outro lado, permanecerá para sempre um amador, como você bem sabe."
        
        "Você conhece meus amigos?", questionou ela.
        
        "É claro. Acha que eu a escolheria aleatoriamente?"
        
        "Não sei. Como me escolheu?"
        
        "Para capturar um momento tão transformador, preciso de alguém que dedique corpo e alma ao trabalho, uma artista que verdadeiramente mereça esse título. Alguém que possua o espírito artístico da antiga Sinthra, e é por isso que você está aqui, Amália Betzenia. Porque, para você, cada pincelada é uma questão pessoal. Cada marca na tela, cada cor escolhida, tem um significado. Você compreende o coração de uma pintura e, de boa vontade, oferece parte de sua alma para capturar a vida que ela representa."
        
        Amália já tinha ouvido elogios vazios de seus patrões e colegas pintores, mas as palavras de Alucard eram autênticas. Cada expressão era verdadeira, e o coração dela se encheu de autoconfiança.
        
        "Por que agora? O que torna este momento tão especial para você querer um retrato? Lembro-me de suas palavras anteriores, de que só coloca sua vida na tela em eventos que marcam uma reviravolta nos acontecimentos do mundo..."
        
        A voz de Alucard envolvia-a como uma ópera, girando enquanto falava.
        
        "E este é um desses momentos. Já vivi aqui por tempo demais, Amália. Suficiente para expulsar os Invasores de Vento Bravo, marcando a Lua das flores. Suficiente para testemunhar muitos governantes que vieram depois, ascendendo ao poder sobre os cadáveres de seus irmãos, apenas para serem derrubados por ambições traiçoeiras. Tempo suficiente para conhecer o cancro que se esconde no coração do império; uma flor da meia-noite azulada com raízes fincadas em um solo lílas corrupto. Nós dançamos, ela e eu; Ah, como dançamos em sangue ao longo dos séculos, mas o ritmo da música mudou e a dança chegou ao fim, sua forma alada desperteu seu ego. Este desfile de tolos do qual faço parte, esta vida... não serve para o que vem a seguir.... "</p>
        
         <br>  <br> 
        
        
        
        
        
        <h2> Vermelho , Duvida e Sangue , Força ou Arte ? </h2> 
        
        
        <p> "Não compreendo. O que está por vir?"
        "Em praticamente qualquer outra circunstância, teria respondido com absoluta certeza", continuou Alucard. "Contudo, agora...? Não sei. Tudo que percebo é a necessidade de mudar para enfrentar o futuro. Vivi de maneira passiva por tempo demais, permitindo que subalternos e aduladores satisfizessem todos os meus caprichos. Porém, agora estou pronto para reivindicar o que é meu, algo que por muito tempo me foi negado. Um reino exclusivamente meu. Isto é a imortalidade, Amália. Minha e sua."
        "Imortalidade...?"
        
        "Sim, certamente. Não é através de façanhas e obras que guerreiros e artistas conquistam a imortalidade? O legado de seus trabalhos perdura muito além do efêmero período de suas vidas mortais. Thelassia presta homenagem aos guerreiros que a fundaram sob os princípios marciais de uma alada, que tanto cultivaram. Grandes obras literárias escritas há milhares de anos ainda são lidas, e esculturas cinzeladas em blocos de mármore em eras anteriores às Guerras do Eclipse continuam a ser admiradas por aqueles que as descobrem."
        
        Amália percebeu, com total clareza, que ao subir aquelas escadas, estaria se comprometendo com algo irrevogável, algo definitivo. Quantos artistas já estiveram onde ela está agora? Quantos ergueram o pé e subiram o primeiro degrau?
        
        Quantos retrocederam?
        
        Quantos fugiram?
        
        Amália poderia partir agora, disso ela tinha certeza. Alucard não estava mentindo para ela. Se desejasse partir, certamente alcançaria o estúdio sã e salva. Mas como enfrentaria os dias restantes até que a morte viesse buscá-la, sabendo que não teve a coragem de aproveitar essa oportunidade para criar algo extraordinário?
        
        "Amália", disse Alucard, e desta vez a voz aveludada estava bem diante dela.
        
        Ela ergueu a cabeça e lá estava ele.
        
        Sua silhueta contra a luz vermelha, do grande sol alaranjado de Nilfheim, que vinha de cima, sua forma esbelta e esculpida. Cabelos ruivos escorriam por suas costas e enxames de borboletas de asas carmesim pairavam pelo ar.
        
        Seus olhos, outrora representados por um azul vibrante, agora tinham um tom de vermelho ardente.
        
        E pulsavam no mesmo ritmo que o coração dela.
        
        Ele estendeu a mão para ela, dedos finos e elegantemente afilados, com unhas longas como garras cintilantes de Alucard.
        
        "E então? A imortalidade será nosso legado?", indagou Alucard.
        
        "Sim", respondeu ela. "Será."
        
        Amália segurou a mão dele, e juntos, ascenderam a escada em direção aos véus avermelhados.
        
        Niflheim continuo prosperando. Mas a data deste conto, nunca foi revelada... Contos de Niflheim : Por Amália. </p>
        
         
        
        <img src="static/img/nilfheim/Img_Central_Vermelho_Solar_Parte_III.png">
        
        
        
        
        
        </div>
        
        
        
    <div><br><br><br><br><br><br></div>
{% endblock %}