{% extends "base.html" %}

{% block content %}
    <!-- Sessão 1: Discord (semelhante à página de início) -->
    <section class="banner">
        <div class="image-container">
            <img src="{{ url_for('static', filename='img/profissoes/inicio_profissoes.png') }}" alt="Imagem Inicial">
            <a href="https://discord.gg/eclipseconanrp" target="_blank">
                <div class="button-overlay">
                    <div class="button-text"></div>
                    <img src="{{ url_for('static', filename='img/botao_losango.png') }}" alt="Botão para Discord">
                </div>
            </a>
        </div>
    </section>

    <div class="section-container">
        <!-- Imagem de fundo da sessão -->
        <div class="background-image" style="background-image: url('static/img/profissoes/profissoes_bg.png');">
            <!-- Imagem à esquerda da sessão -->
            <div class="left-image-container">
                <img src="static/img/profissoes/profissoes_txt.png" alt="Imagem profissao">
            </div>
            <!-- Texto da sessão -->
            <div class="right-side"><br><br><br><br><br><br>
                <h2 class="section-title">PROFISSOES</h2>
                <p class="section-text">
                Desde os primórdios da humanidade, o trabalho molda o mundo ao nosso redor, conferindo significado e propósito às nossas ações. Essas ocupações, embora distintas, compartilham uma essência comum: a combinação de habilidade, determinação e criatividade. untas, essas profissões formam a espinha dorsal de qualquer sociedade que busca prosperar. Cada uma delas carrega histórias de perseverança, engenhosidade e conquistas, refletindo a habilidade de transformar recursos brutos em ferramentas, alimentos e aventuras.
                </p>

            </div>
        </div>
    </div>

    <div class="section-container">
        <!-- Imagem de fundo da sessão -->
        <div class="background-image" style="background-image: url('static/img/profissoes/alquimista_bg.png');">
            <!-- Imagem à esquerda da sessão -->
            <div class="left-image-container2">
                <img src="static/img/profissoes/alquimista.png" alt="Imagem profissao">
            </div>
            <!-- Texto da sessão -->
            <div class="right-side"><br><br><br><br><br><br>
                <h2 class="section-title">ALQUIMISTA</h2>
                <p class="section-text">
                Os alquimistas são especialistas na manipulação de substâncias e energias pouco conhecidas. Suas funções envolvem a produção de poções, tinturas de guerra, tintas, explosivos, ataduras e compostos químicos utilizados na metalurgia. 
                <br>
                Além disso, eles dominam os Encantamentos Xotli e o cultivo de plantas. Suas criações são vitais para garantir a sobrevivência e o sucesso dos aventureiros, proporcionando cura, poder e melhorias nos equipamentos.  Produções sob sua responsabilidade: Poções, Tinturas de Guerra, Tintas, Explosivos, Ataduras, Químicos para Metalurgia, Encantamentos Xotli, Plantio de cultivos.
                </p>
            </div>
        </div>
    </div>

    <div class="section-container">
        <!-- Imagem de fundo da sessão -->
        <div class="background-image" style="background-image: url('static/img/profissoes/alfaiate_bg.png');">
            <!-- Imagem à esquerda da sessão -->
            <div class="left-image-container2">
                <img src="static/img/profissoes/alfaiate.png" alt="Imagem profissao">
            </div>
            <!-- Texto da sessão -->
            <div class="right-side"><br><br><br><br><br><br>
                <h2 class="section-title">ALFAIATE</h2>
                <p class="section-text">
                Os alfaiates são artesãos mágicos especializados na criação de armaduras, escudos, armaduras encantadas e acessórios encantados. Utilizando materiais raros e técnicas arcanas, suas peças oferecem proteção excepcional e, com muito estudo, algumas armaduras mágicas únicas.
                <br>
                Seus trabalhos são altamente valorizados por aventureiros e nobres, pois combinam resistência, funcionalidade e poder místico em cada criação.  Responsáveis por fabricar Armaduras, Escudos, Armaduras encantadas, Acessórios encantados, Armaduras Immersive.
                </p>
            </div>
        </div>
    </div>

    <div class="section-container">
        <!-- Imagem de fundo da sessão -->
        <div class="background-image" style="background-image: url('static/img/profissoes/fazendeiro_bg.png');">
            <!-- Imagem à esquerda da sessão -->
            <div class="left-image-container2">
                <img src="static/img/profissoes/fazendeiro.png" alt="Imagem profissao">
            </div>
            <!-- Texto da sessão -->
            <div class="right-side"><br><br><br><br><br><br>
                <h2 class="section-title">FAZENDEIRO</h2>
                <p class="section-text">
                Os fazendeiros desempenham um papel vital na comunidade, cultivando alimentos para seus animais, incluindo cavalos. Além de sua habilidade em criar selas e couros, eles também fabricam arcos e flechas, madeiras e etc.
                <br>
                Seus conhecimentos garantem que os habitantes e aventureiros tenham o sustento necessário e equipamentos de qualidade para suas jornadas e desafios.  Responsáveis por fabricar Caça, Animais, Cavalos, Selas, Couros, Arco, Flechas, madeira moldada e resinadas
                </p>
            </div>
        </div>
    </div>

    <div class="section-container">
        <!-- Imagem de fundo da sessão -->
        <div class="background-image" style="background-image: url('static/img/profissoes/mineirador_bg.png');">
            <!-- Imagem à esquerda da sessão -->
            <div class="left-image-container2">
                <img src="static/img/profissoes/mineirador.png" alt="Imagem profissao">
            </div>
            <!-- Texto da sessão -->
            <div class="right-side"><br><br><br><br><br><br>
                <h2 class="section-title">MINERADOR</h2>
                <p class="section-text">
                Os mineradores são especialistas na extração de minérios e seu derretimento em barras metálicas, essenciais para a forja e construção de equipamentos e estruturas. Sua habilidade em identificar e extrair minerais valiosos é fundamental para abastecer outras profissões, garantindo que o mundo esteja bem equipado para enfrentar os desafios e construir seu progresso.  Responsáveis por fabricar Barras Metálicas.
                </p>

            </div>
        </div>
    </div>

    <div class="section-container">
        <!-- Imagem de fundo da sessão -->
        <div class="background-image" style="background-image: url('static/img/profissoes/ferreiro_bg.png');">
            <!-- Imagem à esquerda da sessão -->
            <div class="left-image-container2">
                <img src="static/img/profissoes/ferreiro.png" alt="Imagem profissao">
            </div>
            <!-- Texto da sessão -->
            <div class="right-side"><br><br><br><br><br><br>
                <h2 class="section-title">FERREIRO</h2>
                <p class="section-text">
                Os ferreiros são mestres na forja de ferramentas essenciais e armas de combate, além de criar armas que se adaptam ao usuário.
                <br>
                Sua habilidade em trabalhar metais e infundir magia nos itens garante que cada peça não só seja funcional, mas também imbuída com propriedades únicas, proporcionando aos aventureiros a vantagem necessária para enfrentar qualquer desafio.Responsáveis por fabricar Ferramentas, Armas, Armas Immersive.
                </p>
            </div>
        </div>
    </div>

    

{% endblock %}