{% extends "base.html" %}

{% block content %}
    <!-- Sessão 1: Discord (semelhante à página de início) -->
    <section class="banner">
        <div class="image-container">
            <img src="{{ url_for('static', filename='img/imagem_racas.png') }}" alt="Imagem Inicial">
            <a href="https://discord.gg/eclipseconanrp" target="_blank">
                <div class="button-overlay">
                    <div class="button-text">DISCORD</div>
                    <img src="{{ url_for('static', filename='img/botao_losango.png') }}" alt="Botão para Discord">
                </div>
            </a>
        </div>
    </section>

    <div class="section-container">
        <!-- Imagem de fundo da sessão -->
        <div class="background-image" style="background-image: url('static/img/racas/abissal-bg.png');">
            <!-- Imagem à esquerda da sessão -->
            <div class="left-image-container">
                <img src="static/img/racas/abissal.png" alt="Imagem raça">
            </div>
            <!-- Texto da sessão -->
            <div class="right-side">
                <h2 class="section-title">ABISSAL</h2>
                <p class="section-text">
                    Da mesma forma que as serpes, serpentes e lagartos, os peixes, tubarões e baleias dos mares e oceanos foram afetados pela Catástrofe de mais de dois mil anos atrás. E não somente eles como os demais seres marinhos também, como caranguejos, moluscos, aguas-vivas e etc. Esses seres se viram não somente alterados fisicamente como mentalmente: saíram do mar para a terra, a fim não somente de poupá-la como também de interagir com ela. Não existe mais assentamentos aquáticos de abissais, sendo todos componentes do Império a que mora. No entanto, alguns sentem a urgência de se banhar nos rios que cortavam o território da antiga Umbra.
                    <br><br><br><br><br><br>
                    Altura: Min 170, Max 220
                </p>
            </div>
        </div>
    </div>
    <div class="section-container">
        <!-- Imagem de fundo da sessão -->
        <div class="background-image" style="background-image: url('static/img/racas/humano-bg.png');">
            <!-- Imagem à esquerda da sessão -->
            <div class="left-image-container">
                <img src="static/img/racas/humano.png" alt="Imagem raça">
            </div>
            <!-- Texto da sessão -->
            <div class="right-side">
                <h2 class="section-title">HUMANO</h2>
                <p class="section-text">
                    Descendentes da antiga terra de Fjord, agora completamente anexadas aos Impérios de Niflheim e Thelássia, ainda detém em seu seio uma boa porção daquela gana nortenha que um dia permeou o seu passado. No entanto, não mais as maldições das bruxas antigas e nem mesmo as tatuagens que logram seu destino os prendem mais.
                    <br><br>
                    Após todo o ocorrido nos séculos que se passaram, os humanos são parte fundamental do todo de Valáquia. É possível encontrar assentamentos humanos espalhados pelo mundo, mas são completa exceção.
                    <br><br><br><br><br>
                    Altura: Min 170, Max 200
                </p>
            </div>
        </div>
    </div>
    <div class="section-container">
        <!-- Imagem de fundo da sessão -->
        <div class="background-image" style="background-image: url('static/img/racas/anao-bg.png');">
            <!-- Imagem à esquerda da sessão -->
            <div class="left-image-container">
                <img src="static/img/racas/anao.png" alt="Imagem raça">
            </div>
            <!-- Texto da sessão -->
            <div class="right-side">
                <h2 class="section-title">ANÃO</h2>
                <p class="section-text">
                    Naturais das regiões norte de Valáquia e também um dia afiliados à milênios extinta nação de Fjord, agora parte integrante e fiel de Valáquia, independente do Império a qual faz morada e serve. Suas formas físicas embruteceram com o passar do tempo após a Catástrofe, mais de dois mil anos atrás, mas isso não fez com que seus humores fossem grandemente afetados.
                    <br><br>
                    Sim, eles têm alguma propensão a teimosia, mas isso se equilibra com o fato de serem completamente carismáticos e ótimos anfitriões em festejos.
                    <br><br><br><br><br>
                    Altura: Min 140, Max 150
                </p>
            </div>
        </div>
    </div>
    <div class="section-container">
        <!-- Imagem de fundo da sessão -->
        <div class="background-image" style="background-image: url('static/img/racas/saurino-bg.png');">
            <!-- Imagem à esquerda da sessão -->
            <div class="left-image-container">
                <img src="static/img/racas/saurino.png" alt="Imagem raça">
            </div>
            <!-- Texto da sessão -->
            <div class="right-side">
                <h2 class="section-title">SAURINO</h2>
                <p class="section-text">
                    São tanto os descendentes das serpes que desceram o vulcão para encontrar os nortenhos quanto os descendentes dos répteis desérticos e aquáticos que um dia se transformaram em seres pensantes e conscientes, tais quais os seres humanos. 
                    <br><br>
                    Orgulhosos e e audazes, são uma espécie de beleza e graça única em razão de seus caracteres serpentinos. Mesmo que possam ter asas projetando das costas, eles não podem mais voar, em razão justamente da atrofia que lhes foi legada em razão das modificações causadas pela reverberação da antiga Calamidade. Reverberações essas que até os Alados sentem.
                    <br><br><br><br><br>
                    Altura: Min 160, Max 240
                </p>
            </div>
        </div>
    </div>
    <div class="section-container">
        <!-- Imagem de fundo da sessão -->
        <div class="background-image" style="background-image: url('static/img/racas/faerico-bg.png');">
            <!-- Imagem à esquerda da sessão -->
            <div class="left-image-container">
                <img src="static/img/racas/faerico.png" alt="Imagem raça">
            </div>
            <!-- Texto da sessão -->
            <div class="right-side">
                <h2 class="section-title">FAÉRICO</h2>
                <p class="section-text">
                    Algumas das crianças preferidas de Akhnebet, carregam consigo não somente a graça, mas a esperteza da Senhora-Senhor do Sol. Apesar de sua estatura diminuta, as asas quase translucidas são belo exemplo de sua graciosidade perante a face de Valáquia.
                    <br><br>
                    Ainda que as reverberações do Ether no mundo não permitam que eles voem de fato, demonstram a beleza de sublimação por meio das artes da dança, do canto e da representação. Costumam serem algumas das criaturas mais poderosas nesses aspectos, inclusive, como costumava ser na Sinthra de outrora
                    <br><br><br><br><br>
                    Altura: Min 120, Max 160
                </p>
            </div>
        </div>
    </div>
    <div class="section-container">
        <!-- Imagem de fundo da sessão -->
        <div class="background-image" style="background-image: url('static/img/racas/elfo_lunar-bg.png');">
            <!-- Imagem à esquerda da sessão -->
            <div class="left-image-container">
                <img src="static/img/racas/elfo_lunar.png" alt="Imagem raça">
            </div>
            <!-- Texto da sessão -->
            <div class="right-side">
                <h2 class="section-title">ELFO LUNAR</h2>
                <p class="section-text">
                    Tão pálidos quanto o Disco Lunar, ou tão púrpura quanto a energia Ethéria de Magnam Voluntas, os Elfos Lunares são descendentes da antiga civilização de Ivalice, dos fundadores do antigo Reino de Umbra e agora são habitantes do Império de Thelássia.
                    <br><br>
                    Foi neste império, que graduou-se do reino a qual faziam morada, que continuaram e evoluíram seus costumes. Antigamente, porém, seu povo observava muito mais o lado obscuro da lua. Agora, a prata lunar está cada vez mais radiante, tornando os Elfos Lunares mais vívidos e distantes daquela sensação saudades de casa. Agora Thelássia é seu lar.
                    <br><br><br><br><br>
                    Altura: Min 190, Max 210

                </p>
            </div>
        </div>
    </div>
    <div class="section-container">
        <!-- Imagem de fundo da sessão -->
        <div class="background-image" style="background-image: url('static/img/racas/orc-bg.png');">
            <!-- Imagem à esquerda da sessão -->
            <div class="left-image-container">
                <img src="static/img/racas/orc.png" alt="Imagem raça">
            </div>
            <!-- Texto da sessão -->
            <div class="right-side">
                <h2 class="section-title">ORC</h2>
                <p class="section-text">
                    Fruto do embrutecimento nortenho em relação a Catástrofe antiga. São alguns dos mais fiéis a Blatastryg, Senhora do Sangue e Etheriae matrona de Valáquia. Não somente por deterem corpos robustos e próprios para o combate, mas também por verem-na como a senhora que os protege no dia-a-dia nas dificuldades. 
                    <br><br>
                    Diferente do que seu comportamento faz parecer, costumam ser uma das raças mais polidas e eloquentes de Valáquia, coisas que agradam tanto a Blatastryg quanto o próprio sangue que atravessa as veias de cada pessoa sob Etherium. Desta eloquência, no entanto, não se envaidecem, pois presam pela simplicidade e constância.
                    <br><br><br><br><br>
                    Altura: Min 120, Max 160
                </p>
            </div>
        </div>
    </div>
    <div class="section-container">
        <!-- Imagem de fundo da sessão -->
        <div class="background-image" style="background-image: url('static/img/racas/elfo_solar-bg.png');">
            <!-- Imagem à esquerda da sessão -->
            <div class="left-image-container">
                <img src="static/img/racas/elfo_solar.png" alt="Imagem raça">
            </div>
            <!-- Texto da sessão -->
            <div class="right-side">
                <h2 class="section-title">ELFO SOLAR</h2>
                <p class="section-text">
                    Orgulhosos filhos de Akhnebet, Senhora do Sol e Senhor da Penumbra. Uma de suas características físicas mais marcantes é sua pele morena e profunda, reluzindo a todo o momento, na luz ou na escuridão. Todavia, diferente do povo do Reino em que um dia fizeram parte, não olham mais para o Sol como o grande iluminador de todas as coisas, mas como um revelador de possibilidades na sombra.
                    <br><br>
                    Os Elfos Solares cultivaram a noção de que o olho que observa o sol se torna cego, portanto a sombra é um remanso que deve ser abraçado. Essa crença foi um dos pilares e, depois, difundida por todo o povo de Niflheim.
                    <br><br><br><br><br>
                    Altura: Min 190, Max 210
                </p>
            </div>
        </div>
    </div>
    <div class="section-container">
        <!-- Imagem de fundo da sessão -->
        <div class="background-image" style="background-image: url('static/img/racas/feral-bg.png');">
            <!-- Imagem à esquerda da sessão -->
            <div class="left-image-container">
                <img src="static/img/racas/feral.png" alt="Imagem raça">
            </div>
            <!-- Texto da sessão -->
            <div class="right-side">
                <h2 class="section-title">FERAL</h2>
                <p class="section-text">
                    Valáquia um dia foi um mundo apenas de humanos até que a Catástrofe aconteceu e os Cristais das antigas Solaris e Ivalice se chocaram com sua face, transformando tudo e a todos a seu redor. Uma das mais notáveis e populares transformações são ferais. Humanos se tornaram como lobos, gatos, pássaros, touros e uma infinidade tão grande quanto a fauna do próprio mundo. De certo, hoje em dia, devem ter esquecido de sua origem, como a maioria dos demais. Porém, a conexão entre natureza e humanidade jamais deixará de ser balanceada nesses seres.
                    <br><br><br><br><br>
                    Altura: Min 170, Max 200
                </p>
            </div>
        </div>
    </div>
    <div class="section-container">
        <!-- Imagem de fundo da sessão -->
        <div class="background-image" style="background-image: url('static/img/racas/alado-bg.png');">
            <!-- Imagem à esquerda da sessão -->
            <div class="left-image-container">
                <img src="static/img/racas/alado.png" alt="Imagem raça">
            </div>
            <!-- Texto da sessão -->
            <div class="right-side">
                <h2 class="section-title">ALADO</h2>
                <p class="section-text">
                    Advém do Mundo Espiritual, de sua parte em que o Ether é menos denso. A primeira representante desses seres foi Alara, enviada do Mundo Espiritual pelo próprio Magnam Voluntas, Etheriae Patrono de Thelássia, para Valáquia, a fim de suprir as dores pós-Guerra com sua linhagem.
                    <br><br>
                    Representam a conexão entre o mundo espiritual e as camadas de Etherium. Por advirem da porção menos densa do Mundo Espiritual, são dotados de grande capacidade racional, lógica e inteligência afiada, menos propensos a se levarem pelas emoções, conduzindo seus afazeres com meticulosidade escolástica..
                    <br><br><br><br><br>
                    Altura: Min 190, Max 220
                </p>
            </div>
        </div>
    </div>
    <div class="section-container">
        <!-- Imagem de fundo da sessão -->
        <div class="background-image" style="background-image: url('static/img/racas/esfinge-bg.png');">
            <!-- Imagem à esquerda da sessão -->
            <div class="left-image-container">
                <img src="static/img/racas/esfinge.png" alt="Imagem raça">
            </div>
            <!-- Texto da sessão -->
            <div class="right-side">
                <h2 class="section-title">ESFINGE</h2>
                <p class="section-text">
                    Os antigos guardiões de Sinthra. Grandes criaturas que se parecem com estátua em forma de carne e sabedoria. O perfeito equilibrio entre razão e emoção. Frequentemente são vistos impondo seus amigos e companheiros com charadas para testar, de maneira jocosa, a sabedoria de seus iguais. 
                    <br><br>
                    Ainda carregam consigo um traço muito peculiar da antiga Sinthra, seja lá morando em Thalássia ou Niflheim: se sentem mais a vontade com pouca roupa para poderem esticar suas patas felinas e asas enormes. Porém, tal como os Alados e os Saurinos, por conta das reverberações do Ether desde a Catástrofe, não podem voar.
                    <br><br><br><br><br>
                    Altura: Min 190, Max 220
                </p>
            </div>
        </div>
    </div>
    <div class="section-container">
        <!-- Imagem de fundo da sessão -->
        <div class="background-image" style="background-image: url('static/img/racas/rakshasa-bg.png');">
            <!-- Imagem à esquerda da sessão -->
            <div class="left-image-container">
                <img src="static/img/racas/rakshasa.png" alt="Imagem raça">
            </div>
            <!-- Texto da sessão -->
            <div class="right-side">
                <h2 class="section-title">RAKSHASA</h2>
                <p class="section-text">
                    Seres advindos da camada mais profunda e densa do Mundo Espiritual. Esses seres carregam consigo uma propensão muito grande a intensidades altas. Sim, são seres de emoção bastante aflorada, em contraste com seus irmãos menos densos. Podem ser extremamente apaixonados, adoradores do belo, ou extremamente tristes ou até mesmo raivosos.
                    <br><br>
                    Mas seu papel no pós-Guerra foi tão importante quanto aqueles que acompanharam: o de trazer a noção de que todo o sentimento é transitório e que pode, dele, a partir de uma pequena lufada do ar da vontade, vir a se tornar coisa bela no mundo que é. Esse papel ecoa até o presente.
                    <br><br><br><br><br>
                    Altura: Min 190, Max 230
                </p>
            </div>
        </div>
    </div>
{% endblock %}
